/* Google fonts */

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@400;800&family=Parisienne&family=Roboto&family=Teko:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@500;600;700&family=Quantico:ital,wght@0,400;0,700;1,700&display=swap');

/* Root element (aka html) */
:root {
  scroll-behavior: smooth;

  /* CSS Variables */
  /* Fonts */
  --ff-parisienne: "Parisienne", cursive;
  --ff-montserrat: "Montserrat", sans-serif;
  --ff-lora: "Lora", serif;
  --ff-roboto: "Roboto", sans-serif;
  --ff-rubik-dirt: "Rubik Dirt", cursive;
  --fs-paragraphs: calc(0.8rem + 0.35vw);
  --fs-links-btns: calc(0.65rem + 0.5vw);

  --font-geological: 'Geologica', sans-serif;
  --font-quantico: 'Quantico', sans-serif;

  /* COLOR */
  --color: #fb036b;
}

::selection{
  background-color: #fc036b;
  color: white;
}

/* Global */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a , ul{
  text-decoration: none;
  list-style: none;
}

/*scrollbar*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
} 


/* Btn*/
.btn {
  font-family: var(--ff-montserrat);
  font-size: var(--fs-links-btns);
  font-weight: 700;
  margin-top: auto;
  display: inline-block;
  padding: 13px 50px;
  background: var(--color);
  border-radius: 30px;
  color: whitesmoke;
  transition: 0.5s ease;
}
.btn:hover{
  background-color: white;
  color: var(--color);
}

/* HEADER , NAV_BAR , HEADER CONTENT */
header {
  height: 100vh;
  background:linear-gradient(10deg,rgb(0,0,0,0.7) , rgb(0,0,0,0.7)), url("../img/bg.png") fixed bottom;
  background-size: cover;
}

/* NAV-BAR */
header nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  margin: 0 20px;
}
header .logo img{
  width: 55px;
  height: 55px;
}

header .logo a{
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: var(--ff-rubik-dirt);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-weight: 300;
  color: rgb(254, 252, 252);  
}

.navbar{
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: saturate(180%) blur(10px);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px 12px 0px;
  z-index: 10;
  color: whitesmoke;
}
.nav-links , .nav-links li a {
  display: flex;
  gap: 35px;
  color: white;
  font-family: var(--ff-montserrat);
  font-weight: bold;
  transition: 0.4s ease-in;
}
header nav .nav-links .link{
  font-size: 1.5rem;
}
header nav .nav-links .active {
  color: var(--color);
  border: none;
}

header nav .link:hover{
  color: var(--color);
}
header nav li::after{
  content: "";
  width: 0;
  height: 5px;
  display: block;
  background: var(--color);
  transition: 0.4s ease-in;
}
header nav li:hover::after{
  width: 100%;
  margin: 0 auto;
}
.menu-btn{
  cursor: pointer;
  display: none;
}
.menu-btn div{
  width: 45px;
  height: 6px;
  background-color: white;
  margin-bottom: 5px;
  border-radius: 5px;
}
.menu-btn .menu-small{
  width: 30px;
}

/* HEADER CONTENT */
header .home{
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-content {
  color: whitesmoke;
  font-family: var(--font-geological);
  text-align: center;
}

.header-content h2 {
  font-size: 4vmin;
}

.line {
  width: 150px;
  height: 4px;
  background: var(--color);
  margin: 10px auto;
  border-radius: 5px;
}
.header-content h1 {
  font-size: 7vmin;
  margin-top: 50px;
  margin-bottom: 30px;
}

.header-content a {
  letter-spacing: 0.1rem;
}

/* END HEADER  */



/* Events */
.title {
  text-align: center;
  font-family: var(--font-geological);
  font-size: 4vmin;
  text-transform: uppercase;
  margin: 30px 0;
}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 21rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: normal;
  margin: 20px 20px;
  padding: 10px 10px;
}
.card img{
  width: 100%;
  margin-bottom: 25px;
}
.card h4{
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 10px 0;
  text-align: center;
  font-family: var(--font-quantico);
  font-weight: 700;
}
.card p{
  margin-bottom: 15px;
  color: #7c7c7c;
  font-size: var(--fs-paragraphs);
  font-family: var(--ff-roboto);
  line-height: 1.5;
  text-align: center;
}
/* Event End */


/* explore */
.explore {
  background: url(../img/bg2.png) no-repeat fixed center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.explore-content {
  font-family: var(--font-geological);
  margin: 100px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: whitesmoke;
  position: relative;
  z-index: 1;
  padding: 30px 25px;
}

.explore-content::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  display: block;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 8px;
}

.explore-content h1 {
  font-size: calc(2.2rem + 1vw);
  letter-spacing: 0.3rem;
  text-align: center;
}

.explore-content .line {
  margin-bottom: 50px;
}

.explore-content p {
  width: 90%;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
  color: rgb(221, 221, 221);
  padding: 0px 30px;
  margin-bottom: 30px;
}

.explore-content .btn {
  margin: 20px auto;
  padding: 12px 27px;
}
/* Explore End */



/* tours */


.tours .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.tours .content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom:20px ;
}
.tours .content h1{
  font-size: 2.5rem;
  text-align: center;
}
.tours .content h1::after{
  content: "";
  display: block;
  width: 50%;
  height: 6px;
  background-color: var(--color);
  border-radius: 10px;
  margin: 20px auto;
}
.tours .content p{
  font-size: 1.5rem;
  text-align: center;
  margin: 20px 0 ;
}

.tours .image-gallery {
  display: grid;
  gap: 1.8rem 1rem;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  padding: 1rem;
}

/* Tours End */



/* about */
.about{
  background: linear-gradient(10deg,rgb(0,0,0,0.6) , rgb(0,0,0,0.6)),url("https://awe365.com/wp-content/uploads/2013/07/adventure-sports-hang-gliding-flickrcc-image-by-Steve-Slater.jpg") no-repeat fixed center;
  background-size: cover;
  display: flex;
  flex-direction:column ;
  align-items: center;
  justify-content: center;
}

.about .title h1{
  font-size: 3rem;
}

.about_us {
  width: 80%;
  font-size: 1.5rem;
  font-family: var(--font-quantico);
  margin-bottom: 30px;
}
.about_us span{
  font-size: 3rem;
  color: var(--color);
}
/* ABOUT-US END */


/* Contributors */
.contributors {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #000;
  font-family: "Montserrat", sans-serif;
}

.concard {
  background-color: #535353;
  color: #ffffff;
  width: 20em;
  height: 20em;
  border-radius: 5px;
  margin: 1.5em 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.concard:hover {
  background-color: #fb036b;
  border-bottom: 20px solid #c9bfbf;
  color: #fff;
  transform: translateY(-7px);
  transition: background-color 0.5s ease, transform 1s ease,
   border-bottom 0.5s ease 0.2s;
}

.concard .pfp {
  width: 35%;
  border-radius: 100%;
}

.text h1 {
  font-family: var(--font-quantico);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  margin: 5px;
}
.logolink {
  margin: 0.6em 0em 0em 0em;
  width: 20%;
}
.logolink img {
  border-radius: 100%;
  background-color: #ffff;
}
.logolink .github-logo {
  width: 100%;
}





/* contact */
#contact {
  width: 90%;
}

.contact_us {
  margin-top: 3rem;
  display: flex;
  font-family: var(--ff-roboto);
}

form {
  width: 50%;
}

.cbox {
  width: 45%;
  margin-left: 70px;
  padding: 10px 30px;
}

.cbox-message {
  font-size: 1.2em;
  margin: 0;
}

.cbox-line {
  width: 20%;
  height: 0.2em;
  background-color: #fb036b;
  margin-bottom: 3em;
  margin-top: 1em;
}

.c_boxx a p {
  color: white;
  font-size: 1em;
  font-weight: 100;
  padding: 1rem;
  padding: 0px 40px;
}

.c_boxx a {
  padding: 1em;
  margin-bottom: 2em;
  padding-left: 2em;
  border: 0.1em solid #fc036b;
  background-color: #fc036b;
  color: white;
  display: flex;
  border-radius: 2em;
  align-items: center;
  border: #fc036b 0.1em solid;
  font-size: 1em;
}

.c_boxx a:hover {
  background-color: white;
  color: #fc036b;
  transition: all 0.5s ease;
}

.c_boxx i {
  font-size: 38px;
  margin-right: 10px;
  /* margin-left: 0.5em; */
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 0px 0px 7px 6px;
  display: inline-block;
}

input[type="submit"] {
  background-color: #fc036b;
  color: whitesmoke;
  padding: 12px 50px;
  border: 2px solid #fc036b;
  border-radius: 100vmax;
  cursor: pointer;
  font-family: var(--ff-montserrat);
  font-size: var(--fs-links-btns);
}

input[type="submit"]:hover {
  background-color: whitesmoke;
  color: #fc036b;
}

.cform {
  background-color: #222;
  padding: 1em;
  border-radius: 0.5rem;
}

.ccol {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.crow-in {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.crow-message {
  margin: 1rem;
}

.crow-message div {
  width: 20%;
  display: block;
  height: 1em;
  border-bottom: 3px solid #fc036b;
}

.ccol-left {
  margin: 1em;
}

.ccol {
  float: left;
  width: 100%;
  margin-top: 6px;
}

#name {
  width: 90%;
  margin: 1em;
}

#email {
  width: 90%;
  margin: 1em;
}

.crow:after,
.crow-s::after {
  content: "";
  display: table;
  clear: both;
}

.crow-s {
  margin: 1em;
  color: #fc036b;
}

/* footer */
.footer {
  width: 100%;
  min-height: 100px;
  padding: 20px 80px;
  margin: 0;
  background: #222;
  text-align: center;
}

.footer p {
  color: whitesmoke;
  margin: 20px auto;
  padding: 20px auto;
}

.footer span {
  display: block;
  color: whitesmoke;
  padding: 20px auto;
}

.social {
  width: 360px;
  margin: 30px auto;
}

.social li {
  list-style: none;
}

.social a {
  margin-right: 10px;
  font-size: 18px;
  background-color: transparent;
  border-radius: 50%;
  padding: 5px 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.social a:hover {
  background-color: #fc036b;
}

.social i {
  display: inline;
  text-align: center;
  color: whitesmoke;
}

/* animations */
img {
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.1);
}

.cir_border:hover{
    color: #fc036b
}


.active {
  border: 2px solid whitesmoke;
  border-radius: 20px;
  color: #fc036b;
  cursor: pointer;
}

.ctn:hover {
  background: whitesmoke;
  color: #fc036b;
  box-shadow: 2px 2px 5px #00000056;
  cursor: pointer;
}

.nav-links .ctn:hover a {
  color: #fc036b;
}

body {
 background-color: black;
  color: white;
}

body.dark{
  background-color: white;
  color: black;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 48px;
  height: 22px;
  background-color:#111;
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 20px;
  height: 18px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball{
  transform: translateX(24px);
}

.fa-moon-o {
  color: white;
}

.fa-sun-o {
  color: yellow;
}

.color{
  color:white;
}
/* scroll button */
#upbtn {
  display: none;
  position: fixed; 
  bottom: 20px; 
  right: 30px;
  z-index: 99;
  border: none; 
  outline: none; 
  cursor: pointer; 
  padding: 15px; 
  font-size: 40px; 
}
#upbtn:hover {
  background-color: #fc036b; 
}

#quote {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(45deg, #fc036b, #fff, #41031d);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 8s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

/* end */