/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Work+Sans:wght@500&display=swap');

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

span {
    color: #7c7c7c;
    padding: 0px 40px;
  }

/* .active {
  color: #fc036b;
  border-radius: 20px;
  background: whitesmoke;
  font-weight: bold;
} */

body,
html {
  overflow-x: hidden;
}

/*scrollbar*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}
 

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: #464646; */
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  z-index: 10;
  color: whitesmoke;
}

/* addding several glass effect */
.glass{
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
  background: rgba(128, 128, 128, 0.35);
  backdrop-filter: blur(5px);
  overflow: hidden;
}

/* .glass{
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.10);
  overflow: hidden;

} */
 
/* .glass{
  background: rgba(128, 128, 128, 0.40);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
} */

/* glass effect ends here */
.nav-links {
  display: flex;
  align-items: center;
}

.nav-links li{
  margin: 0px 20px;
}
.nav-links li a {
  color: white;
}
.nav-links li a:hover {
  color: #fc036b;
}
.cir_border{
  padding: 6px 20px;
  font-weight: bold;
}
.cir_border:hover,.active{
  border: 2px solid whitesmoke;
  border-radius: 20px;
  color: #fc036b;
}

header {
  width: 100vw;
  height: 100vh;
  background-image: url("./img/header-bg.jfif");
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.header-content {
  margin-bottom: 150px;
  color: whitesmoke;
  text-align: center;
}

.header-content h2 {
  font-size: 4vmin;
}

.line {
  width: 150px;
  height: 4px;
  background: #fc036b;
  margin: 10px auto;
  border-radius: 5px;
}

.header-content h1 {
  font-size: 7vmin;
  margin-top: 50px;
  margin-bottom: 30px;
}

.ctn {
  padding: 13px 50px;
  background: #fc036b;
  border-radius: 30px;
  color: whitesmoke;
}

.menu-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  cursor: pointer;
  display: none;
}

/* Events */
section {
  width: 80%;
  margin: 80px auto;
}

.title {
  text-align: center;
  font-size: 4vmin;
  color: rgb(73, 73, 126);
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.row .col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row .col img {
  width: 90%;
}

.events .row {
  margin-top: 50px;
}

h4 {
  font-size: 3vmin;
  color: #484872;
  margin: 20px auto;
}

p {
  color: #7c7c7c;
  padding: 0px 40px;
}
.col p{
  color: #7c7c7c;
  padding: 0px 30px;
  text-align: justify;
}
.events .ctn {
  margin-top: 30px;
}

/* explore */
.explore {
  width: 100%;
  height: 100vh;
  background-image: url(./img/bg2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.explore-content {
  width: 60%;
  padding: 50px;
  color: whitesmoke;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.explore-content h1 {
  font-size: 7vmin;
}

.explore-content .line {
    margin-bottom: 50px;
}

.explore-content p {
  color: rgb(221, 221, 221);
}

.explore-content .ctn {
    margin-top: 40px;
}

/* tours */
.content-col {
    width: 40%;
}

.image-col {
    width: 60%;
}

.tours .image-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.image-gallery img {
    max-width: 250px;
    margin: 10px;
}

.content-col h1 {
    font-size: 6vmin;
    color: #484872;
}

.content-col .line {
    margin-left: -1px;
}

.content-col p {
    padding: 0;
    margin: 30px auto;
}

.content-col .ctn {
    margin-left: -100px;
}
/* about */
#about{
  width: 100%;
}
#about_us{
  background: url("https://awe365.com/wp-content/uploads/2013/07/adventure-sports-hang-gliding-flickrcc-image-by-Steve-Slater.jpg");
  width: 100%;
  height: 630px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 30px 0px 0px 0px;
}
#about_us p{
  font-size: 18px;
  width: 43em;
  color: white;
  text-align: justify;
  padding-top: 14em;
  font-family: 'Work Sans', sans-serif;
}
#about_us span{
  padding: 0px 0px 0px 47px;
  font-size: 55px;
  color: #fc036b;
}
.social{
  width:360px;
  margin: 109px auto;
  letter-spacing: 4px;
}
.social li{
  list-style: none;
}
.social a{
  font-size: 40px;
  background-color: white;
  border-radius: 50%;
  padding: 10px 10px;
  box-shadow: 0px 0px 15px;
}
.social i{
  padding-left: 4px;
}
.f{
  padding: 12px;
  padding-left: 10px;
}
.fa:hover{
  color: #fc036b;
}

/* contact */
#contact{
  width: 90%;
}
.contact_us{
  display: flex;
}
form{
  width: 50%;
}
.cbox{
  border: 3px solid black;
  width: 45%;
  margin-left: 70px;
  margin-top: 35px;
  padding: 0px 35px 30px 35px;
}
.c_boxx h4{
  color: #fc036b;
  font-size: 16px;
  font-weight: 700;
}
.c_boxx a{
  padding: 17px;
  border: 2px solid #fc036b;
  background-color: #fc036b;
  color: white;
  display: flex;
  flex-direction: row;
}
.c_boxx a:hover{
  background-color: white;
  color: #fc036b;
}
.c_boxx i{
  font-size: 38px;
}
.c_boxx a p{
  font-size: 22px;
  color: white;
}
.c_boxx a p:hover{
  color: #fc036b;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 0px 0px 7px 6px;
  display: inline-block;
}

input[type=submit] {
  background-color: whitesmoke;
  color: #fc036b;
  padding: 12px 50px;
  border: 2px solid #fc036b;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #fc036b;
  color: whitesmoke;
}
.ccol {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.ccol {
  float: left;
  width: 100%;
  margin-top: 6px;
}
.crow:after,.crow-s::after {
  content: "";
  display: table;
  clear: both;
}
.crow-s{
  padding-top: 14px;
}


/* footer */
.footer {
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: #484872;
    text-align: center;
}

.footer p {
    color: whitesmoke;
    margin: 20px auto;
    padding: 20px auto;
}

.footer span {
    color: whitesmoke;
    margin: 20px auto;
    padding: 20px auto;
}


/* animations */
img {
    transition: transform .3s ease;

}
img:hover {
    transform: scale(1.1);
}
.ctn:hover {
    background: whitesmoke;
    color: #fc036b;
    box-shadow: 2px 2px 5px #00000056;
}
li:hover {
    color: #fc036b;
    cursor: pointer;
}
